<div id="message-box" class="message-box">
    <div class="init-button" style="display: none;"><a data-role="open-slider-box"><div class="message-num" data-role="now-message-num" style="display: none;"></div></a></div>
    <div class="message-slider-box">
        <a class="close-btn" data-role="close-message-slider-box" title="关闭会话列表">
            <i class="os-icon-login"></i>
        </a>
        <div id="message-content-box" class="message-content">
            <div class="top">通知</div>
            <div class="content-list">
                <ul class="session-list"><!--类型列表--></ul>
                <div class="message-list"><!--消息列表--></div>
            </div>
        </div>
    </div>
</div>
<!-- 对话框HTML -->
<div class="modal fade" id="message-modal">
    <div class="modal-dialog" style="width: 550px;">
        <div class="modal-content" style="width: 550px;height: 700px;">
            <div class="message-list"><!--消息列表--></div>
        </div>
    </div>
</div>
        <style>

        </style>
<script>
    $(function () {
        message_session.init_message($('#message-box #message-content-box'),$('#message-modal'));
    });
</script>