	*{ margin:0; padding:0;}
		body{margin:0 auto;}
		ul,li{list-style:none;}
		a{text-decoration:none;}
		/*----------导航----------*/
		.xqdaohang{height: 50px; width: 100%;}
		.xqdaohang ul{margin-left:210px;}
		.xqdaohang ul li{float:left;line-height:49px;margin:0 58px;}
		.xqdaohang ul li hover{color: red;}
		.xqdaohang ul li a{color:#333333;}
		/*----------导航1--------------*/
		.xqdaohang1{height: 44px;width: 100%;background-color: #F2F2F2;}
		.xqdaohang2{float:left;margin:10px 0px 0px 80px;}
		.xqdaohang3{float:right;line-height:39px;}
		.xqdaohang4{float:left;margin-right: 10px;}
		.xqdaohang4 img{float:left;margin: 8px;}
		.xqdaohang1 a{color:#666666;}
		/*-------------详情主页------------------*/
		.xqzhuti{width:100%;height: 680px;margin:0 auto;}
		/*---------------详情主页左--------------------------*/
		.xqzhuti1{float:left;margin-left: 70px;}
		.xqzhuti2{float:left;width:450px;height: 448;margin-top:100px; margin-left:30px; }
		.xqzhuti3{margin:0 18px;}
		.xqzhuti3 ul li{float:left;}
		/*-------------详情主页右------------------*/
		.xqzty{float:left;height: 180px;margin:90px 50px;}
		.xqzty1{font-size:20px; font-weight:bold;color:#666666;}
		.xqzty2{background-color: #F3F3F3;width:650px;height: 80px;}
		.xqzty3{color:#666666;margin:0px 28px; }
		.xqzty3 a{color:red; font-weight:bold;font-size:25px;}
		.xqzty4{color:#999999;font-size:13px;}
		/*-----------------------------------------*/
		.xqzty5{float:left;margin-left:40px; margin-top:30px;height:80px;}
		.xqzty6{float:left;margin:70px 50px;font-size:13px;color:#666666;height:80px;}
		/*----------------广告图-------------------------*/
		.ggtu{margin-left: 30px;text-align:center; }
		/*----------------主体-------------------------------*/
		.ggtu3{height:2570px;}
		.ggtu4{float:left;margin-left: 85px;}
		.ggtu2{float:left;}