		*{ margin:0; padding:0;}
		body{margin:0 auto;}
		ul,li{list-style:none;}
		a{text-decoration:none;}
		/*--------------------------*/
		.sydh{background-color:#1A1A1A;height:49px;width:100%;position: relative;}
		.sydh1 ul{margin-left:200px;}
		.sydh1 ul li{float:left;line-height:49px;margin:0 18px;}
		.sydh1 ul li a{color:#ffffff;}
		/*-------------------------*/
		.grzx1 ul li a{color:#737373;}
		.grzx{float:left;height: 500px;}
		.grzx1 ul{margin:30px 0 0 200px;}
		.grzx1 ul li{line-height:35px;margin:0 18px;}
		/*--------------------------*/
		.grzxy{float:left;height: 500px;}
		.grzxy1{margin-top: 35px;}
		.grzxzt{height: 800px;width: 100%}