<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
    <script src="__PUBLIC__/js/canvas.js"></script>
    <link href="__CSS__/new-login.css" type="text/css" rel="stylesheet">
</head>
<body>
<!-- 头部 -->
<canvas width="1835" height="950"></canvas>
<!-- /头部 -->

<!-- 主体 -->

{:W('Login/login',array('type'=>"login"))}

<include file="Public/js"/>
<!-- /主体 -->

<!-- 底部 -->
<!--<div class="foot-box">
    <div class="container">
        <div class="col-xs-6">
            <span>©2013-2016 嘉兴想天信息科技有限公司</span> | <span>浙ICP备12042711号-5</span>
        </div>
        <div class="col-xs-6" style="text-align: right">
            <a href="http://www.opensns.cn/" target="_blank">产品</a> | <a href="http://www.ourstu.com/" target="_blank">公司</a> | <a href="http://www.ourstu.com/joinus.html" target="_blank">招聘</a>
        </div>
    </div>
</div>-->
<!-- /底部 -->
</body>
</html>







