<link type="text/css" rel="stylesheet" href="__ZUI__/lib/calendar/zui.calendar.min.css"/>
<link rel="stylesheet" type="text/css" href="{:getRootUrl()}Addons/CheckIn/Static/css/check.css">

<div class="checkdiv">
    <div class="row">
        <div class="col-xs-4 text-center" style="margin-left: 19px;">
            <img class="ico_calendar" src="{:getRootUrl()}Addons/CheckIn/Static/images/calendar.png">
            <php>if(!$check){</php>

            <a href="javascript:void(0)" data-role="do_checkin" class="btn-sign"
               style="color: red;font-weight: bolder;">{:L('_CHECKIN_')}</a>


            <php>}else{</php>
            <a href="javascript:void(0)" class="btn-sign">{:L('_CHECKED_')}</a>
            <php>}</php>
        </div>

        <div class="col-xs-3  text-center">
            {$week}
        </div>
        <div>
            {$day}
        </div>

    </div>
</div>
<div id="sign-calendar" class="calendar sign-calendar" style="padding: 10px;"></div>
<script type="text/javascript" src="__ZUI__/lib/calendar/zui.calendar.js"></script>
<script>
    $(function () {
        do_checkin();
        check_in_calender();
    })
    var do_checkin = function () {
        $('[data-role="do_checkin"]').unbind();
        $('[data-role="do_checkin"]').click(function () {
            var $this = $(this);
            $.post("{:addons_url('CheckIn://CheckIn/doCheckIn')}", {}, function (res) {
                if (res.status) {
                    $this.replaceWith('<a href="javascript:void(0)" class="btn-sign">已签</a>');
                    $('#sign-calendar .month-days .week-days .cell-day.current').addClass('signed');
                    $('[data-role=total_check]').text(res.total_check);
                    $('[data-role=con_check]').text(res.con_check);
                    toast.success(res.info);
                } else {
                    handleAjax(res);
                }
            });
        })
    }
    var check_in_calender=function(){
        $('#sign-calendar').calendar({
            display:function(event){
                $('#sign-calendar .month-days .cell-day.signed').removeClass('signed');
                $.post("{:addons_url('CheckIn://CheckIn/signList')}",{show_month:parseInt(Date.parse(event.date))/1000},function(list){
                    if(list){
                        for(var i in list){
                            $('#sign-calendar .month-days .cell-day').eq(list[i]).addClass('signed');
                        }
                    }
                });
            }
        });
    }
</script>
