{include header}
<div class="wrapper">
    {include header_menu}
    {include left_menu}
    <style>
    .gallery-list .gallery-item {
        position: relative;
        display: inline-block;
        width: 33%;
        padding: 2px;
    }
    .gallery-list .gallery-item .gallery-wrapper .gallery-title.action{
        background-color: #2baab1;
    }
    .gallery-list .gallery-item .gallery-wrapper .gallery-overlay .gallery-action.action {
        background-color: #2baab1;
    }
    </style>
    <div class="main-container">
        <div class="padding-md">
            <div class="smart-widget">
        		<div class="smart-widget-header">
        			板块列表
                    
                    <div class="form-group pull-right" >
                        <div class="custom-checkbox">
                            <input type="checkbox" name="chk1" id="chk1">
                            <label for="chk1"></label>
                        </div>
                        删除分类时，是否删除该分类下的所有文章，评论。慎重勾选
                    </div>
                    <div class="form-group pull-right" >
                        <div class="custom-checkbox">
                            <input type="checkbox" name="chk2" id="chk2">
                            <label for="chk2"></label>
                        </div>
                        
                    </div>

        		</div>
        		<div class="smart-widget-inner">
        			
                    <style>

                    .table-striped>tbody>tr{
                            cursor: pointer;
                    }
                    </style>
                    <script>
                    (function(){

                    });
                    function edit_forum(obj){
                        var i=0;
                        $("#edit0").val('');
                        $("#edit1").val('');
                        $("#edit3").val('-1');
                        $(obj).find('td').each(function(e){

                            $("#edit"+(i++)).val($(this).text());
                            //console.log($(this).text());
                            if(i==7){
                                if($(this).text() == '')
                                $("#edit6").val('-1');
                            }
                            

                            if(i==1){
                                $("#iid").val($(this).text());
                            }


                        })
                    }
                    function del_forum(id){
                        if(!confirm("确定删除?")){
                            return;
                        }
                        var del =false;
                        if($("#chk1").is(':checked') && $("#chk2").is(':checked'))
                            del = true;
                        $.post("{#WWW}admin{#EXP}forum",{gn:3,id:id,del:del},function(e){
                            if(e.error)
                                window.location.reload();
                        },'json');
                    }
                    </script>

                			<div class="smart-widget-body">
                                <div class="table-responsive">
                				<table class="table table-striped">
                		      		<thead>
                		        		<tr>
                			          		<th>分类ID</th>
                			          		<th>分类名称</th>
                                            <th>分类别名</th>
                                            <th title="用于模板使用">分类字体颜色</th>
                                            <th title="用于模板使用">分类背景颜色</th>
                                            <th>板块描述HTML</th>
                                            
                			          		<th>父分类ID</th>
                			          		<th>父分类名称</th>
                                            <th>额外操作</th>
                                            <th>上传图标</th>
                		        		</tr>
                		      		</thead>
                		      		<tbody>

                			        	{foreach $data as $v}
                                        <tr onclick="edit_forum(this)">
                                            <td>{$v.id}</td>
                                            <td>{$v.name}</td>
                                            <td>{$v.name2}</td>
                                            <td><div style="background: {$v.color};float: left;width: 20px;height: 20px;display: inline-block;border-radius: 4px;margin-right:5px"></div>{$v.color}</td>
                                            <td><div style="background: {$v.background};float: left;width: 20px;height: 20px;display: inline-block;border-radius: 4px;margin-right:5px"></div>{$v.background}</td>
                                            <td><pre style="width:200px;max-height:200px">{$v.html}</pre></td>
                                            {php $tmp=false;}

                                            {foreach $data1 as $vv}

                                                {if $v['fid'] == $vv['id']}
                                                    <td>{$vv.id}</td>
                                                    <td>{$vv.name}</td>
                                                    {php $tmp=1;}

                                                {/if}
                                            {/foreach}
                                            {if !$tmp}
                                            <td></td><td></td>

                                            {/if}
                                            <td><button onclick="del_forum({$v['id']})" class="btn btn-danger btn-xs">删除分类</button></td>
                                            <td>
                                                <img class="pull-left" width="30" height="30" src="{#WWW}upload/forum{$v.id}.png" onerror="onerror='';this.src='{#WWW}upload/de.png'">
                                                <form action="{#WWW}admin{#EXP}forumupload" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="forum" value="{$v.id}">
                                                    <input type="file" name="photo" onchange="$(this).parent().submit()">   

                                                </form>
                                            </td>

                                        </tr>
                                        {/foreach}
                			      	</tbody>
                			    </table>
                                </div>



                    </div>
        		</div><!-- ./smart-widget-inner -->
        	</div>
            <div class="smart-widget-body">


				<a href="{if $pageid==1}javascript:void(0);{else}{#WWW}admin{#EXP}forum?pageid={$pageid-1}{/if}" class="btn btn-success marginTB-xs" {if $pageid==1}disabled{/if}><i class="fa fa-angle-double-left m-left-xs"></i> 上一页</a>

				<a href="{if $pageid==$page_count}javascript:void(0);{else}{#WWW}admin{#EXP}forum?pageid={$pageid+1}{/if}" style="float:right" class="btn btn-success marginTB-xs" {if $pageid==$page_count}disabled{/if}>下一页<i class="fa fa-angle-double-right m-left-xs"></i></a>


			</div>
            <div class="alert alert-success alert-custom alert-dismissible" role="alert">
		    	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		    	<i class="fa fa-check-circle m-right-xs"></i><strong>注意事项!</strong> 你所看到的 -1 都是代表 无父分类 的意思
		    </div>
            <div class="row">
            <div class="col-md-6">
                <div class="smart-widget m-top-lg widget-dark-blue">
    				<div class="smart-widget-header">
    					添加分类
    					<span class="smart-widget-option">
    						<span class="refresh-icon-animated">
    							<i class="fa fa-circle-o-notch fa-spin"></i>
    						</span>

                            <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                <i class="fa fa-chevron-up"></i>
                            </a>


                        </span>
    				</div>
    				<div class="smart-widget-inner">
    					<div class="smart-widget-body">
                            <h2>说明</h2>
                            <section>
    		                    <p>注意如果你的分类不想继承,作为子分类,请不要更改 父分类ID的-1, -1值代表无继承 无父</p>
    		                </section>
    						<form  method="post">
                                <input type="hidden" name="gn" value="1">
    							<div class="form-group">
    								<label for="">分类ID</label>
    								<input type="text" name="id" class="form-control" AUTOCOMPLETE="off">
    							</div><!-- /form-group -->
    							<div class="form-group">
    								<label for="">板块名称</label>
    								<input type="text" name="name" class="form-control" AUTOCOMPLETE="off">
    							</div>
                                <div class="form-group">
                                    <label for="">板块别名</label>
                                    <input type="text" name="name2" class="form-control" AUTOCOMPLETE="off">
                                    注意: 不可以全部数字 . (建议使用字母别名, 不建议使用中文以及特殊符号)
                                </div>
                                <div class="form-group">
                                    <label for="">字体颜色</label>
                                    <input type="text" name="color" class="form-control" >
                                    用于对某些模板的独立性颜色控制 可使用 #FFF rgb 以及 rgba
                                </div>
                                <div class="form-group">
                                    <label for="">背景颜色</label>
                                    <input type="text" name="background" class="form-control">
                                    用于对某些模板的独立性颜色控制 可使用 #FFF rgb 以及 rgba
                                </div>
                                <div class="form-group">
                                    <label for="">板块描述 (支持HTML)</label>
                                    <textarea name="html" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
    								<label for="">父分类ID</label>
    								<input type="text" name="fid" class="form-control"  value="-1" AUTOCOMPLETE="off">
    							</div><!-- /form-group -->


    							<button type="submit" class="btn btn-success btn-sm">提交</button>
    						</form>
    					</div>
    				</div><!-- ./smart-widget-inner -->
    			</div>
            </div>
            <div class="col-md-6">
                <div class="smart-widget m-top-lg widget-dark-blue">
    				<div class="smart-widget-header">
    					编辑分类 (请点击上面的分类)
    					<span class="smart-widget-option">
    						<span class="refresh-icon-animated">
    							<i class="fa fa-circle-o-notch fa-spin"></i>
    						</span>

                            <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                <i class="fa fa-chevron-up"></i>
                            </a>


                        </span>
    				</div>
    				<div class="smart-widget-inner">
    					<div class="smart-widget-body">
                            <h2>说明</h2>
                            <section>
    		                    <p>不建议更改分类ID,因为当你的某些文章已经使用此分类, 你一旦更改分类ID 那么文章将找不到此分类方法,会导致错误!</p>
    		                </section>
    						<form  method="post">
                                <input type="hidden" name="gn" value="2">
                                <input type="hidden" id="iid" name="iid" value="">
                                <div class="form-group">
    								<label for="">分类ID (不建议更改)</label>
    								<input name="id" id="edit0" type="text" class="form-control" AUTOCOMPLETE="off">
    							</div><!-- /form-group -->
    							<div class="form-group">
    								<label for="">板块名称</label>
    								<input name="name" id="edit1" type="text" class="form-control" AUTOCOMPLETE="off">
    							</div>
                                <div class="form-group">
                                    <label for="">板块别名</label>
                                    <input name="name2" id="edit2" type="text" class="form-control" AUTOCOMPLETE="off">
                                </div>
                                <div class="form-group">
                                    <label for="">字体颜色</label>
                                    <input type="text" id="edit3" name="color" class="form-control" >
                                    用于对某些模板的独立性颜色控制 可使用 #FFF rgb 以及 rgba
                                </div>
                                <div class="form-group">
                                    <label for="">背景颜色</label>
                                    <input type="text" id="edit4" name="background" class="form-control">
                                    用于对某些模板的独立性颜色控制 可使用 #FFF rgb 以及 rgba
                                </div>
                                <div class="form-group">
                                    <label for="">板块描述 (支持HTML)</label>
                                    <textarea name="html" id="edit5" class="form-control"></textarea>
                                </div>
    
                                <div class="form-group">
    								<label for="">父分类ID</label>
    								<input name="fid" id="edit6" type="text" class="form-control" AUTOCOMPLETE="off">
    							</div><!-- /form-group -->

    							<button type="submit" class="btn btn-success btn-sm">提交</button>
    						</form>
                            <div style="margin-top:10px" class="alert alert-danger alert-custom alert-dismissible" role="alert">
                		    	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                		    	<i class="fa fa-check-circle m-right-xs"></i><strong>注意事项!</strong> 如果你发现修改失败,请刷新此页面再修改
                		    </div>
    					</div>
    				</div><!-- ./smart-widget-inner -->
    			</div>
            </div>
            </div>
        </div><!-- ENd box  -->

    </div>
</div>
{include footer}
