<!DOCTYPE html>
<html lang="cn" id="ht">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/my.css">
</head>
<body>
    <div class="container">
        <h1><span class="glyphicon glyphicon-user"></span><{$title}></h1>
        <div class="center-block mt20">
            <button class="btn btn-info glyphicon glyphicon-home" id="indexBtn">首页</a>
            <button class="btn btn-success glyphicon glyphicon-plus" id="addBtn">添加</button>
        </div>
        <{block name="main"}>
        <table class="table table-hover mt20">
            <tr>
                <td>ID</td>
                <td>姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <td>籍贯</td>
                <td>操作</td>
            </tr>
            <{foreach $list as $v}>
            <tr>
                <td><{$v.id}></td>
                <td><{$v.name}></td>
                <td>
                    <{if $v.sex == 0}>女
                    <{elseif $v.sex == 1}>男
                    <{else}>人妖
                    <{/if}>
                </td>
                <td><{$v.age}></td>
                <td><{$v.province}></td>
                <td class="col-md-2">
                    <a href="./index.php?c=User&a=edit&id=<{$v.id}>" class="btn btn-primary glyphicon glyphicon-wrench" id="edit">编辑</a>
                    <a href="./index.php?c=User&a=del&id=<{$v.id}>" class="btn btn-danger glyphicon glyphicon-trash" id="del">删除</a>
                </td>
            </tr>
            <{/foreach}>
        </table>
        <{/block}>
    </div><!--END container-->
    <script src="./public/js/jquery.min.js"></script>
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/js/myAjax.js"></script>
</body>
</html>