*{margin:0;padding:0;list-style:none;text-decoration:none;}
.clear::before,.clear::after{content:''; clear:both; display:table;}
#header{width:100%;height:143px;}
#header #top{width:100%;height:53px;}
#header #top .top-left{width:330px;height:53px;margin-left:220px;}
#header #top .top-left ul li{float:left;margin-left:20px;line-height:53px;}

#header #bottom{width:100%;height:86px;}
#header #bottom .bottom-left{width:315px;height:43px;margin-left:234px;margin-top:22px;float:left;background:url(../images/logo.png);}
#header #bottom .bottom-right{width:570px;height:43px;float:left;margin-left:234px;margin-top:22px;}
#header #bottom .bottom-right ul li{float:left;margin-left:15px;line-height:43px;}

#main{width: 1683px;height:545px;margin:0 auto;background:url(../images/1468404585-3757.jpg);}
#fox{width:1200px;height:100px;margin:0 auto;}
#fox .fox-one{width:288px;height:64px;margin-top:17px;float:left;background:url(../images/nav01.png);}
#fox .fox-two{width:288px;height:64px;margin-top:17px;float:left;	background:url(../images/nav02.png);}
#fox .fox-three{width:288px;height:64px;margin-top:17px;float:left;background:url(../images/nav03.png);	}
#fox .fox-four{width:288px;height:64px;margin-top:17px;float:left;background:url(../images/nav04.png);	}
#eye{width:1200px;height:70px;margin:0 auto;}
#eye .eye-left{width:200px;height:70px;font-size:20px;line-height:70px;float:left;}
#eye .eye-left span{color:#ccc;}
#eye .eye-right{width:300px;height:70px;font-size:20px;line-height:70px;float:right;}

#nose{width:1200px;height:78px;margin:0 auto;margin-top:40px;}
#nose .nose-one{width:436px;height:78px;background:url(../images/brand_logo.jpg);}
#face{width:1200px;height:34px;margin:0 auto;margin-top:20px;}
#face .face-one{width:220px;height:34px;background:red;float:left;line-height:34px;color:white;text-align:center;}
#face .face-two{width:220px;height:34px;background:#43b18c;float:left;margin-left:10px;line-height:34px;color:white;text-align:center;}
#face .face-three{width:220px;height:34px;background:#e8747f;float:left;margin-left:10px;line-height:34px;color:white;text-align:center;}
#jaw{width:1200px;height:400px;margin-top:20px;}
#jaw .jaw-one{width:1050px;height:176px;color:#9b9b9b;}
#jaw .jaw-two{width:1050px;height:220px;color:#9b9b9b;}

#neck{width:1181px;height:335px;border:1px solid #ccc;background:url(../images/01.jpg);}
#chest{width:1181px;height:591px;border:1px solid #ccc;margin-top:30px;background:url(../images/02.jpg);}
#bar{width:1181px;height:591px;border:1px solid #ccc;margin-top:30px;background:url(../images/03.jpg);}
#bar-one{width:1181px;height:591px;border:1px solid #ccc;background:url(../images/04.jpg);}
#bar-two{width:1181px;height:591px;	margin-top:30px;background:url(../images/05.jpg);}
#bar-three{width:1181px;height:591px;margin-top:30px;background:url(../images/06.jpg);}
#bar-four{width:1181px;height:591px;border:1px solid #ccc;background:url(../images/07.jpg);}
#bar-five{width:1181px;height:591px;border:1px solid #ccc;margin-top:30px;background:url(../images/08.jpg);}
#bar-six{width:1181px;height:591px;border:1px solid #ccc;background:url(../images/09.jpg);}
#bar-seven{width:1181px;height:591px;border:1px solid #ccc;margin-top:30px;background:url(../images/10.jpg);}
#bar-eight{width:1181px;height:591px;border:1px solid #ccc;margin-top:30px;background:url(../images/11.jpg);}
#bar-nine{width:1181px;height:591px;border:1px solid #ccc;margin-top:30px;background:url(../images/12.jpg);}

#foot{:100%;height:200px;background:#ccc;margin:0 auto;}
#foot .foot-one{width:100%;height:100px;}
#foot .foot-one .foot-top{width:80%;height:50px;background:#ccc;color:#999;}
#foot .foot-one .foot-bottom{width:59%;height:50px;background:#ccc;color:#999;font-family:"微软雅黑";color:black;z-index:1;}

#foot .foot-two{width:100%;height:100px;}
#foot .foot-two .foot-foot{width:80%;height:50px;background:#ccc;color:#999;line-height:50px;}


