#header{width:800px;height:30px;}
#main{width:1367px;height:1040px;margin:0 auto;}
#main .main-one{width:1200px;height:40px;}
#main .main-one ul li{float:left;margin-left:20px;line-height:40px;}
#main #one{width:440px;height:485px;border:1px solid #ccc;float:left;display:inline;padding:5px;}
#main #one .one-hair{width:440px;height:440px;}
#main #one .one-forehead{width:170px;height:45px;float:left;line-height:45px;color:red;text-align:center;}
#main #one .one-brow{width:100px;height:45px;float:right;line-height:45px;color:red;text-align:center;}
