#head{width:1200px;height:100px;margin:0 auto;margin-top:20px;line-height:180px
			;}
#throat{width:1200px;height:520px;margin:0 auto;margin-top:10px;}
#throat .nipple{width:530px;height:520px;border:1px solid #ccc;margin-left:30px;float:left;}
#throat .nipple .chest{width:530px;height:71px;margin-top:10px;}
#throat .nipple .pit{width:470px;height:671px;margin-top:10px;margin-left:75px;}
#throat .nipple .pit .touch{width:76px;height:23px;}
#throat .nipple .pit .text06{width:85px;height:25px;margin:0 0 -6px 0;}
#throat .nipple .pit .button03{width:170px;height:41px;background:orange;font-size:20px;}
#throat .navel{width:530px;height:520px;float:right;margin-right:100px;}
#throat .navel .thigh{width:439px;height:78px;float:right;margin-right:91px;}
#throat .navel .abdomen{width:440px;height:440px;}