<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<style>
		*{ margin:0; padding:0;}
		img{ border:none;}
		ul,li{list-style:none;}
		a{text-decoration:none;}
		#dldb1{margin:0 170px;}
		#dldb1 ol li{float:left;line-height:80px;margin:0 10px;}
		#dldb1 ol li a{color:#666666;}
	</style>
<div id='dldb'>
		<div id='dldb1'>
			<ol>
				<li><a href='./index.php?c=404&a=index'>| 关于我们</a></li>
				<li><a href='./index.php?c=404&a=index'>| 购物指南</a></li>
				<li><a href='./index.php?c=404&a=index'>| 支付方式</a></li>
				<li><a href='./index.php?c=404&a=index'>| 配送说明</a></li>
				<li><a href='./index.php?c=404&a=index'>| 售后服务</a></li>
				<li><a href='./index.php?c=404&a=index'>| 联系方式</a></li>
				<li><a href='./index.php?c=404&a=index'>| 投诉建议</a></li>
				<li><a href='./index.php?c=404&a=index'>| 诚聘英才</a></li>
				<li><a href='./index.php?c=404&a=index'>| 友情链接 |</a></li>
			</ol>
		</div>
</div>
<div id='tutu'><img src="./public/images/5.jpg" alt=""></div>
</body>
</html>