{include h}
{include index_header}
<!--{hook t_m_index_index_1}--> 
<section class="body" id="index_body">
<div style="padding-bottom: 5px;position: relative;">
<!--{hook t_m_index_index_2}--> 
	<div id="index-body-top" class="iscroll iscrollTop index_body">  
        <span class="icon-undo2"></span>
        <p>下拉刷新内容</p>
  </div> 
  <!--{hook t_m_index_index_3}--> 
	<span class="Select">
		<select class="Select-input FormControl">
			<option value="{#WWW}" {if isset($_GET['HY_URL'][0])}{if $_GET['HY_URL'][0] != 'btime'}selected{/if}{/if}>最新主题</option>
			<option value="{php echo WWW.URL('btime','');}" {if isset($_GET['HY_URL'][0])}{if $_GET['HY_URL'][0] == 'btime'}selected{/if}{/if}>最新回复</option>
      <!--{hook t_m_index_index_4}--> 
		</select>
        <script type="text/javascript">
        $(".FormControl").change(function(){
            window.location.href = $(this).val();
        })
        </script>
        <!--{hook t_m_index_index_5}--> 
		<img src="{#WWW}View/hy_moblie/sort.png" class="Select-caret">

	</span>
  <!--{hook t_m_index_index_6}--> 
  <div class="rebtn bor" >
    <form action="{#WWW}search" method="get">
    <input type="text" name="key">
    </form>
    <button class="icon-search" onclick="$('.rebtn').toggleClass('active')"></button>
  </div>
  <!--{hook t_m_index_index_7}--> 

  
	<!--{hook t_m_index_index_thread_list_top}--> 
	{foreach $top_list as $v}
	{include thread_list}
	{/foreach}
<list id="index-list">
	{foreach $data as $v}
	{include thread_list}
	{/foreach}
</list>
  <div id="index-body-bottom" class="index_body iscrollBottom iscroll">  
        <span class="icon-undo2"></span>
        <p>向上拉继续加载</p>
  </div> 
	<!--{hook t_m_index_index_thread_list_bottom}-->
	
</div>
<script type="text/javascript">
window.is_fid = 'index';
var index_body = new IScroll('#index_body', {
	 disableMouse: true,
    disablePointer: true,
    mouseWheel: true,
    scrollbars: true,
  	fadeScrollbars:true,
  	preventDefault: false,
  	preventDefaultException: { tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A)$/ },
  	shrinkScrollbars:'scale',
    probeType:1,
    fid:'index'
});
$(window).resize(function(){
  index_body.refresh();
})


window.is_text1=false;
window.is_text2=false;
window.is_loading = false;
window.index_page = 2;

index_body.on('scroll',function(){
  console.log(this.y - this.maxScrollY); //distY
  gd_b1(this.y);
  if(this.distY > 200) {
    if(window.is_text1)
      return;
    window.is_text1=true;
    
 
    $("#index-body-top .icon-undo2").addClass("fa-spin1").next().text('数据加载中...');


  }else if(this.y - this.maxScrollY < 0){
    if(window.is_loading)
      return;
    window.is_loading = true;
    
    
    $("#index-body-bottom .icon-undo2").addClass("fa-spin1").next().text('数据加载中...');
    index_body.refresh();
    var href='{#WWW}{$type}{#EXP}'+window.index_page++;
    window.history.pushState("","",href);
    $.ajax({
      url:href,
      dataType:'html',
      success:function(e){
        window.is_loading=false;
        $("#index-body-bottom").removeClass("loading");
        $("#index-body-bottom .icon-undo2").removeClass("fa-spin1").next().text('数据加载中...');
        $("#index-list").append('<div class="hy-box page-hr"><div class="page-hr1">第 '+(window.index_page-1)+' 页</div><div class="page-hr1"></div></div>');
        
        $("#index-list").append(e.match(/<list id="index-list">([\s\S]*?)<\/list>/)[1]);
        index_body.refresh();
        //console.log($("a[ajax=true]"));
        //$("a[ajax=true]").click(ajax_click);
        
      }
    })
  
  }else{
    window.is_text1=false;
    window.is_text2=false;
  }
});

$('#index_body').on('touchend', function (e) {
  gd_b1(index_body.y);
  if(index_body.distY > 200){
    $("#index-body-top").addClass("loading");
  } 
  else if(index_body.distY < -200){
    $("#index-body-bottom").addClass("loading");
  }else{
    if(!window.is_loading)
        $('.loading').removeClass('loading');
  }
});


index_body.on('scrollEnd',function(){
  //console.log(this);
  gd_b1(this.y);
  window.is_text1=false;
  window.is_text2=false;
  //console.log("滚动结束");
  if($("#index-body-top").length==0)
    this.destroy();
  

	if(this.distY > 200) {
		if(window.is_loading)
			return;
		window.is_loading = true;
		
		window.history.pushState("","",'{#WWW}{$type}{#EXP}');
    window.index_page=2;
		$("#index-body-top .icon-undo2").addClass("fa-spin1").next().text('数据加载中...');
		index_body.refresh();
    $.ajax({
      url:'{#WWW}{$type}{#EXP}',
      dataType:'html',
      success:function(e){
        window.is_loading=false;
        $("#index-body-top").removeClass("loading");
        $("#index-body-top .icon-undo2").removeClass("fa-spin1").next().text('下拉刷新内容');
        $("#index-list").html(e.match(/<list id="index-list">([\s\S]*?)<\/list>/)[1]);
        index_body.refresh();
        //$("a[ajax=true]").click(ajax_click);
        
      }
    })

	}
            

});  
</script>
</section>

{include b_menu}
{include f}