{include h}
{include user_header1}
<section class="body" id="user_repass_body">
<div>
	<div class="hy-box" style="margin-top:20px">
		<form id="form">
			
			<!--{hook t_m_user_repass_1}-->
		    <div class="hy-input-box">
		        <input type="text" id="email" name="email" placeholder="你注册账号所填的邮箱">
		    </div>
		    <!--{hook t_m_user_repass_2}-->
		    <div class="hy-input-box">
			<a class="hy-btn hy-btn-success" onclick="send_code(this)" href="javascript:void(0)" style="color: ;">点击获取验证码</a>
			</div>
		    <div class="hy-input-box">
		        <input type="text" id="code" name="code" placeholder="你邮箱接收到的验证码">
		    </div>
		    <!--{hook t_m_user_repass_3}-->
		    <div class="hy-input-box">
		        <input type="password" name="pass1" placeholder="更改密码">
		    </div>
		    <!--{hook t_m_user_repass_4}-->
		    <div class="hy-input-box">
		        <input type="password" name="pass2" placeholder="确认密码">
		    </div>
		    <!--{hook t_m_user_repass_5}-->
	    </form>

	</div>
	<!--{hook t_m_user_repass_55}-->
	<div style="padding:10px;    text-align: center;">
		<button id="repass" type="button" class="hy-btn hy-btn-danger hy-btn-block" style="padding: 8px 0;">提交</button>
		<a href="{#WWW}user{#EXP}login" ajax="true" pos="right" rgb="#f1f4f9" type="button" class="hy-btn hy-btn-link" style="color: #a2a2a2;">
                    返回登录
        </a>
        
	</div>
	<div style="height:40px"></div>
</div>
</section>
<script>
var send_b = false;
function send_code(obj){
	// if(send_b)
	// 	return ;
	 var _this = $(obj);
	// send_b=true;
	
	
	//_this.attr("disabled","disabled");
	//_this.css("color","#757575");
	$.ajax({
		url: '{#WWW}user{#EXP}recode',
		type:"POST",
		cache: false,
		data:{
			email:$("#email").val(),
			<!--{hook t_m_user_repass_js_1}-->
		},
		dataType: 'json'
	}).then(function(e) {
		<!--{hook t_m_user_repass_js_2}-->
		if(e.error){
			swal("发送成功","请到你的"+$("#email").val()+"查看邮件获得验证码,可能邮件会被放入垃圾箱或已删除",'success');
		}else{
			swal('发送失败',e.info,'error');
		}
		<!--{hook t_m_user_repass_js_3}-->
	}, function() {
	 swal("发送失败",'服务器繁忙');
	});
    
}
$(function(){
    $('#form').submit(function() {return false;});
    $("#repass").click(function(){
        var postdata = $('#form').serialize();
        <!--{hook t_m_user_repass_js_4}-->
        $.post("{#WWW}user{#EXP}recode2", postdata,  function(e){
        	<!--{hook t_m_user_repass_js_5}-->
            if(e.error){
                swal("修改成功","密码修改成功,请自行登录!",'success');
            }else{
            	swal("修改失败", e.info, "error");
            }
            <!--{hook t_m_user_repass_js_6}-->
        },'json');
        <!--{hook t_m_user_repass_js_7}-->
    });
    window.user_repass_body = new IScroll('#user_repass_body', {
        disableMouse: true,
        disablePointer: true,
        mouseWheel: true,
        scrollbars: true,
        fadeScrollbars:true,
        preventDefault: false,
        preventDefaultException: { tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A)$/ },
        shrinkScrollbars:'scale'
      
    });



});
</script>

{include f}