<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>

<IFModule mod_php5.c>
    php_value upload_max_filesize 2000M
    php_value post_max_size 2500M
    php_value max_file_uploads 50
</IFModule>