<layout name="layout" />
<block name="main">
<!-- header -->
<!-- banner -->

		<div class="container">
			<ul id="flexiselDemo3">
								<li><a href="single.html">
									<div class="banner-1">
										<img src="__PUBLIC__/Home/images/1.jpg" class="img-responsive" alt="">
										<div class="banner-bottom">
											<h4>FedEx</h4>
											<p>Lorem ipsum dolor amet</p>
										</div>
									</div></a>
								</li>
								<li>
								<a href="single.html">
									<div class="banner-1">
										<img src="__PUBLIC__/Home/images/2.jpg" class="img-responsive" alt="">
										<div class="banner-bottom">
											<h4>Digital Art</h4>
											<p>from TheDesignInspiration</p>
										</div>
									</div></a>
								</li>
								<li>
								<a href="single.html">
									<div class="banner-1">
										<img src="__PUBLIC__/Home/images/3.jpg" class="img-responsive" alt="">
										<div class="banner-bottom">
											<h4>Thismanslife: New </h4>
											<p>from Creattica by this life</p>
										</div>
									</div></a>
								</li>
								<li>
								<a href="single.html">
									<div class="banner-1">
										<img src="__PUBLIC__/Home/images/4.jpg" class="img-responsive" alt="">
										<div class="banner-bottom">
											<h4>Business Graph</h4>
											<p>by GraphicsFuel for impl</p>
										</div>
									</div></a>
								</li>
							 </ul>
						
						 <script type="text/javascript">
							$(window).load(function() {
								
								$("#flexiselDemo3").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems: 3
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
							</script>
							<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.flexisel.js"></script>
				<div class="clearfix"> </div>
		</div>
	</div>
<!-- banner -->
<!-- Here -->
	<div class="Here">
		<div class="workes">
			<h2><a href="portfolio.html">See All Our Works</a></h2>
		</div>
		<div class="container">
			<div class="col-md-3 here-1">
				<div class="here-left">
					<i class="bulb"></i>
				</div>
				<div class="here-right">
					<h5>Your 1st title Here</h5>
				</div>
					<div class="clearfix"> </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie, lectus sed posuere consectetur, dolor ipsum tempus justo, quis ornare magna urna id enim. </p>
			</div>
			<div class="col-md-3 here-1">
				<div class="here-left">
					<i class="lock"></i>
				</div>
				<div class="here-right">
					<h5>Your 2nd title Here</h5>
				</div>
					<div class="clearfix"> </div>
				<p>Nulla accumsan libero id quam facilisis nec luctus libero sollicitudin. Sed ligula libero, feugiat sed gravida vel, commodo sit amet nibh. </p>
			</div>
			<div class="col-md-3 here-1">
				<div class="here-left">
					<i class="pen"></i>
				</div>
				<div class="here-right">
					<h5>Your 3rd title Here</h5>
				</div>
					<div class="clearfix"> </div>
				<p>Nullam tempus turpis at lorem posuere sodales. Donec nibh urna, auctor at eleifend eget, blandit fermentum augue. Etiam eget magna vel ante mattis ultricies vitae ut nunc. </p>
			</div>
			<div class="col-md-3 here-1">
				<div class="here-left">
					<i class="adm"></i>
				</div>
				<div class="here-right">
					<h5>Your 4th title Here</h5>
				</div>
					<div class="clearfix"> </div>
				<p>Nam ac molestie ante. Pellentesque turpis lacus, vulputate vitae feugiat quis, dictum eget diam. Proin sapien libero, tempus et tempus ac, pulvinar quis nulla. </p>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
<!-- Here -->
<!-- company -->
	<div class="company">
		<div class="container">
			<div class="col-md-4 company-1">
				<h3>Our Company</h3>
				<div class="our">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie, lectus sed posuere consectetur, dolor ipsum tempus justo, quis ornare magna urna id enim. Nulla accumsan libero id quam facilisis nec luctus libero sollicitudin. </p>
				</div>
				<div class="our">
					<p>Sed ligula libero, feugiat sed gravida vel, commodo sit amet nibh. Nullam tempus turpis at lorem posuere sodales. Donec nibh urna, auctor at eleifend eget, blandit fermentum augue.</p>
				</div>
				<div class="our">
					<p>Proin enim velit, fermentum at malesuada in, porta vel ipsum. Pellentesque a erat sit amet lorem rutrum venenatis sed laoreet dui. </p>
				</div>
			</div>
			<div class="col-md-4 company-1">
				<h3>Our Testimonials</h3>
				<div class="our">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie, lectus sed posuere consectetur, dolor ipsum tempus justo, quis ornare magna urna id enim.</p>
					<h6>Rafi, GraphicsFuel.com </h6>
				</div>
				<div class="our">
					<p>Sed ligula libero, feugiat sed gravida vel, commodo sit amet nibh. Nullam tempus turpis at lorem posuere sodales. Donec nibh urna, auctor at </p>
					<h6>Rafi, GraphicsFuel.com </h6>
				</div>
				<div class="our">
					<p>Proin enim velit, fermentum at malesuada in, porta vel ipsum. Pellentesque a erat sit amet lorem rutrum venenatis sed laoreet dui. </p>
					<h6>Rafi, GraphicsFuel.com </h6>
				</div>
			</div>
			<div class="col-md-4 company-1">
				<h3>From the blog</h3>
				<div class="sleek">
					<h5><a href="single.html">Sleek minimal website PSD template</a></h5>
					<h6>August 30, 2010, 9:32 am</h6>
				</div>
				<div class="sleek">
					<h5><a href="single.html">PSD ecommerce website template</a></h5>
					<h6>October 18, 2010, 5:51 am</h6>
				</div>
				<div class="sleek">
					<h5><a href="single.html">Sleeko- Download single page website design</a></h5>
					<h6>July 22, 2010, 7:19 pm</h6>
				</div>
				<div class="sleek">
					<h5><a href="single.html">Download web buttons in PSD & PNG (pack of 60)</a></h5>
					<h6>September 13, 2010, 2:15 am</h6>
				</div>
				<div class="sleek">
					<h5><a href="single.html">Flip clock countdown (PSD)</a></h5>
					<h6>August 12, 2011, 10:56 am</h6>
				</div>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
<!-- company -->
<!-- later -->
