<!doctype html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<title>百度 分享</title>
	<link rel="stylesheet" href="__PUBLIC__/Dist/css/bootstrap.min.css">
	<style>

	</style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>百度分享</h1>
		</div>
		<div class="row">
			<div class="col-md-6">
			    <p>
			        本文是龙应台记录下儿子21岁时他们的一场对话。《孩子,你慢慢来》、《目送》、《亲爱的安德烈》,龙应台每写一本教育感悟书籍,都成为众家长纷纷推荐的佳作,因为她对孩子发自肺腑的爱用朴实的语言给大家展露无遗。她写给儿子安德烈的一段话也在微信微博上疯转:孩子,我要求你读书用功,不是因为我要你跟别人比成绩,而是因为,我希望你将来会拥有选择的权利,选择有意义、有时间的工作,而不是被迫谋生。当你的工作在你心中有意义,你就有成就感。当你的工作给你时间,不剥夺你的生活,你就有尊严。成就感和尊严,给你快乐。
那天我问你,“你将来想做什么”,我注意到,你很不屑于回答我这个问题,所以跟我胡诌一通。是因为你们这个世代的人,对未来太自信,所以不屑与像我这一代人年轻时一样,讲究勤勤恳恳、如履薄冰,还是其实你们对于未来太没信心,所以假装出一种嘲讽和狂妄的姿态,来闪避我的追问?
我几乎要相信,你是在假装潇洒了。今天的青年人对于未来,潇洒得起来吗?法国年轻人在街头呼喊抗议的镜头让全世界都震惊了:这不是上世纪60年代的青年为浪漫的抽象的革命理想上街呐喊——戴着花环、抱着吉他唱歌,这是21世纪的青年为了自己的现实生计在烦恼,在挣扎。
从我的21岁到你的21岁,人类的自杀率升高了60%。你刻意闪避我的问题,是因为21岁的你,还在读大学的你,也感受到现实的压力了吗?
从18岁开始失业的画家
还记得我们在德国时遇见的那个画家——提摩吗?他从小爱画画,在气氛自由、不讲究竞争和排名的德国教育系统里,他一会儿学做外语翻译,一会儿学做锁匠,一会儿学做木工。毕业后找不到工作,一年过去了,两年过去了,三年又过去了,现在,应该是多少年了?我也不记得,但是,当年他失业时只有18岁,今年他41岁了,仍旧失业,和母亲住在一起。
没事的时候,他就坐在临街的窗口,画着长颈鹿。在他笔下,长颈鹿的脖子从巴士顶伸出来,穿过飞机场,走进一个正在放映电影的戏院……它睁着睫毛长长的大眼,盯着一个小孩骑三轮车。
			    </p>
			</div>

		</div>
	</div>


    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","tsina","weixin","renren","tqq","tqf","douban","thx","fbook","twi","linkedin"],"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"1","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

</body>
</html>
